.ToDoCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	padding: 4px 10px 4px 10px;
	background-color: white;
	border-radius: 4px;
	margin-bottom: 10px;
	border: 2px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.ToDoCard:hover {
	border: 2px solid rgba(199, 199, 199, 0.5);
}
